#container{
width:80%;
height:100%;
background:#CCCCCC;
margin-left:10%;
border-radius: 20px;

}
#body{
width:100%;
height:80%;
float:left;
}
#header{
width:100%;
height:30%;
float:left;
}
#logo{
width:30%;
height:100%;
float:left;
background:#CCCC33;
}
#header1{
width:70%;
height:100%;
float:left;
background:#CCCaaa;
}
#login{
width:100%;
height:70%;
float:left;
background:#CCCCCC;
}
#footer{
width:100%;
height:20%;
float:left;
text-align:center;
background:#CCCaaa;
}
h2{
text-align:center;
}
h3{
text-align:center;
}
form    {
margin:auto;
position:relative;
width:70%;
height:90%;
font-family: Tahoma, Geneva, sans-serif;
font-size: 16px;
border-radius: 20px;
padding:10px;
box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
background-color:white;

}
form img {
margin-left:0px;
}
h1{
text-align:center;
}
label{
  color:#464646;
  text-shadow:0 1px 0 #fff;
  font-size:14px;
  font-weight:700;"WebContent/style.css"
}
